@media screen and (min-width: 68.75em) {

    .navmob {
        display: none;
    }

    .container {
        margin: 3em 0;
    }

    .lang {
        margin-right: 0;
    }

    .logosmall {
        margin-bottom: 6em;
    }

    .logosmall img {
        width: 641px;
    }

    .headingdesk {
        display: block;
        margin-top: 6em;
        text-align: center;
    }

    .headingdesk span {
        color: #FBC300;
        font-weight: 600;
    }

    .nav {
        display: block;
        text-align: center;
        margin-bottom: 4em;
    }

    .nav h2 {
        margin: 0 1em;
        display: inline-block;
    }

    .mainimg img {
        width: 100%;
        display: block;
    }

    .heading {
        text-align: center;
    }

    .heading span {
        text-transform: uppercase;
        font-weight: 400;
    }
    
    .events {
        display: none;
    }

    .events2 {
        display: flex;
        width: fit-content;
        margin: 4em auto;
    }

    .rightside {
        overflow: hidden;
        position: relative;
        padding: 0 0 100px 20px;
        }

    .rightside::before {
        content: '';
        position: absolute;
        left: 5px;
        height: 1000px;
        border: 1px solid #fff;
        border-width: 0 0 0 1px;
        }
        li:last-child::before {
          border-width: 0 0 0 1px;
          }


    .rightside::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 11px;
        height: 11px;
        background: #C59B2D;
        border-radius: 50%;
    }

    li {
        list-style: none;
    }

    .left {
        padding-right: 20px;
    }

    .leftside .first {
        margin-top: 140px;
    }

    .leftside .second {
        margin-top: 150px;
    }

    .event2 h2 {
        font-size: 1.5em;
        font-weight: 700;
    }

    .rightside p {
        margin-left: 1em;
    }

    .leftside p {
        margin-right: 1em;
        text-align: right;
    }

    .present2 {
        display: block;
    }

    .event2 {
        display: flex;
    }

    .event2 p {
        width: 250px;
        line-height: 1.5em;
    }

    .makeuptypes {
        gap: 2em;
        width: fit-content;
        margin: auto;
    }

    .makeupheading {
        font-weight: 300;
        font-size: 1.2em;
    }

    .iconimg {
        margin: 3em 7em;
    }

    .lip {
        margin: 3em 8em;
    }

    .servtype {
        height: 230px;
    }

    .back {
        display: none;
    }

    .makeupheading {
        display: none;
    }

    .eyebrowserv {
        background-color: #202020;
        width: fit-content;
        border: solid 1px #FBC300;
        border-radius: 25px;
        width: 300px;
        padding: 1em 0;
        text-align: center;
    }

    .down {
        width: 1072px;
        margin: auto;
        margin-top: 6em;
        display: flex;
        gap: 6em;
    }

    .typeheading {
        text-align: start;
        margin: 0 1em 0 0;
    }

    .row1 {
        display: flex;
        align-items: center;
        margin: 1em auto;
    }

    .desc p {
        font-size: 1em;
        font-weight: 300;
        width: 70%;
        line-height: 1.5em;
    }

    .beforeafter h2 {
        display: none;
    }

    .beforeafter {
        display: flex;
        gap: 2em;
        align-items: center;
        border-bottom: solid 1px #FBC300;
        padding-bottom: 2em;
        width: fit-content;
    }

    .arrow {
        height: fit-content;
    }

    .arrow img {
        transform: rotate(0);
    }

    .persons {
        display: flex;
        margin-top: 3em;
        margin-bottom: 4em;
        gap: 2em;
    }

    .recommend h2 {
        text-align: start;
        font-size: 1.5em;
    }

    .human {
        margin-bottom: 1em;
        margin-right: 0;
    }

    .human img {
        width: 70px;
    }

    .recommends {
        flex-direction: column;
        max-width: 150px;
        margin: 0;
    }

    .recommends p {
        font-size: 1em;
        font-weight: 300;
        line-height: 1.5em;
        text-align: center;
    }

    .info {
        display: flex;
        gap: 2em;
    }

    .info h4 {
        font-size: 1em;
        line-height: 1.5em;
    }

    .info h3 {
        font-size: 1.2em;
        line-height: 1.5em;
    }

    .info h5 {
        font-size: 1.2em;
    }


}

